:root {
    --darkPrimary: #072D4B;
    --primary: #0768B5;
    --sky: #2F9FF8;
    --lightPrimary: #E0F0F8;
    --extraLightPrimary: #ECF5F8;
    --borderColor: #6b7e8e;
    --textColor: #6f8091;
    --colorGullGray: #9caab7;
    --colorCornflower: #A1CCED;
}