.container {
    width: 1200px;
    margin: 0 auto;
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-contain {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.shape {
    width: 112px;
    height: 112px;
    position: absolute;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    padding: 0 17px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    white-space: nowrap;
}

.btn-lg {
    height: 78px;
    padding: 0 28px;
    font-size: 22px;
}

.btn-rounded {
    border-radius: 5px;
}

.btn-primary {
    background-color: var(--primary);
    color: #fff;
}

.section {
    margin-top: 140px;
}

.section.section-center .section-title,
.section.section-center .section-sub-title {
    text-align: center;
}

.section-title {
    color: var(--primary);
    margin-bottom: 18px;
    text-transform: uppercase;
}

.section-sub-title {
    font-size: 38px;
    font-weight: 600;
    color: var(--primary-dark);
    line-height: 140%;
}

.section-sub-title.sm-margin {
    margin-bottom: 29px;
}

.section-sub-title.lg-margin {
    margin-bottom: 76px;
}

.text-mute {
    color: #818181;
}

.text-white {
    color: #fff;
}

.line-height {
    line-height: 160%;
}

.bg-line-gradient {
    background: linear-gradient(1deg, #FD5C30 0.53%, rgba(0, 0, 0, 0.00) 101.68%)
}